{% load static  %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Nibble stock exchange</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"></link>
		<link href="{% static 'css/jquery-ui.css'%}" rel="stylesheet">
		<link href="{% static 'css/index.css'%}" rel="stylesheet">
		<script src="{% static 'js/jquery.js'%}"></script>
		<script src="{% static 'js/jquery-ui.js'%}"></script>
		<script src="{% static 'js/bootstrap.min.js'%}"></script>
		<script src="{% static 'js/index.js'%}"></script>
	</head>
	<body>
		<div class="container">
  		<h2>Leader Board</h2>
  		<ul class="list-group">
    		<li class="list-group-item"><span class="badge">Net-worth</span> Name & Username</li>
    		{% for leader in leaders %}
    		<li class="list-group-item"><span class="badge">{{leader.worth}}</span> {{leader.name}} & {{leader.username}}</li>
    		{% endfor %}
  		</ul>
</div>
</body>
</html>
